<div class="row" style="margin-top: 20px;">
    <div class="col-2" *ngFor="let photo of member.UserPhotos">
        <img src="{{photo.FilePath}}" alt="{{photo.FileName}}" class="img-thumbnail p-1">
        <div class="text-center">
            <input 
                type="checkbox"  (change)="onSelectPhoto(photo)"
                [checked]="photo.IsMain === 'Y'"
            />
            <label>Primary</label>
            <button 
                class="btn btn-sm btn-danger" (click)="onDeletePhoto(photo)"
                *ngIf="photo.IsMain !== 'Y'"
                style="margin-left: 5px;"
                [disabled]="photo.IsMain === 'Y'"
            ><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>
<div style="margin-top: 20px;" >
    <h4>Upload New Photo</h4>
    <input type="file" (change)="onFilesSelected($event)" class="form-control" multiple #fileInput />
    <div class="row mt-2">
        <div  *ngFor="let file of selectedFiles">
            <label>{{ file.name }}</label>
        </div>
    </div>
    <button 
        class="btn btn-primary mt-2"
        (click)="onUpload()" [disabled]="!selectedFiles.length"
    >Upload</button>&nbsp;
    <button 
        class="btn btn-secondary mt-2"
        (click)="onReset(fileInput)"
    >Reset</button>
  
  </div>
 